### Q10: 
Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [1]:
import sqlite3
conn = None
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = conn.cursor()
print(cur)
#query1 = """SELECT * FROM FACILITIES"""
query1 = """SELECT DISTINCT 
m.surname || ',' || m.firstname  AS member_name,
CASE WHEN f.facid =0
THEN f.guestcost * slots / 0.5
ELSE f.membercost * slots / 0.5
END AS total_revenue
FROM (
(
Bookings AS b
INNER JOIN Facilities AS f
USING ( facid )
)
INNER JOIN Members AS m
USING ( memid )
)
Group BY member_name
HAVING total_revenue<1000
ORDER BY total_revenue DESC"""
cur.execute(query1)
rows = cur.fetchall()
for row in rows:
    print(row)

<sqlite3.Cursor object at 0x0000029D8856ADC0>
('Baker,Anne', 150.0)
('Butters,Gerald', 150.0)
('Farrell,David', 150.0)
('Hunt,John', 150.0)
('Owen,Charles', 150.0)
('Smith,Tracy', 150.0)
('Genting,Matthew', 39.6)
('Joplette,Janice', 39.6)
('Rownam,Tim', 39.6)
('Smith,Jack', 39.6)
('Baker,Timothy', 30.0)
('Boothe,Tim', 30.0)
('Jones,David', 30.0)
('Sarwin,Ramnaresh', 30.0)
('Stibbons,Ponder', 30.0)
('Tracy,Burton', 30.0)
('GUEST,GUEST', 14.0)
('Bader,Florence', 0.0)
('Coplin,Joan', 0.0)
('Crumpet,Erica', 0.0)
('Dare,Nancy', 0.0)
('Farrell,Jemima', 0.0)
('Jones,Douglas', 0.0)
('Mackenzie,Anna', 0.0)
('Pinker,David', 0.0)
('Purview,Millicent', 0.0)
('Rumney,Henrietta', 0.0)
('Smith,Darren', 0.0)
('Tupperware,Hyacinth', 0.0)
('Worthington-Smyth,Henry', 0.0)

### Q11: 
Produce a report of members and who recommended them in alphabetic surname,firstname order

In [2]:
import sqlite3
conn = None
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = conn.cursor()
query1 = """
SELECT m1.surname || ',' || m1.firstname  AS member_name, 
m2.surname || ',' || m2.firstname  AS recommended_name
FROM Members AS m1
LEFT JOIN Members AS m2
ON m1.recommendedby = m2.memid
ORDER BY member_name, recommended_name
"""
cur.execute(query1)
rows = cur.fetchall()
for row in rows:
    print(row)

('Bader,Florence', 'Stibbons,Ponder')
('Baker,Anne', 'Stibbons,Ponder')
('Baker,Timothy', 'Farrell,Jemima')
('Boothe,Tim', 'Rownam,Tim')
('Butters,Gerald', 'Smith,Darren')
('Coplin,Joan', 'Baker,Timothy')
('Crumpet,Erica', 'Smith,Tracy')
('Dare,Nancy', 'Joplette,Janice')
('Farrell,David', None)
('Farrell,Jemima', None)
('GUEST,GUEST', None)
('Genting,Matthew', 'Butters,Gerald')
('Hunt,John', 'Purview,Millicent')
('Jones,David', 'Joplette,Janice')
('Jones,Douglas', 'Jones,David')
('Joplette,Janice', 'Smith,Darren')
('Mackenzie,Anna', 'Smith,Darren')
('Owen,Charles', 'Smith,Darren')
('Pinker,David', 'Farrell,Jemima')
('Purview,Millicent', 'Smith,Tracy')
('Rownam,Tim', None)
('Rumney,Henrietta', 'Genting,Matthew')
('Sarwin,Ramnaresh', 'Bader,Florence')
('Smith,Darren', None)
('Smith,Darren', None)
('Smith,Jack', 'Smith,Darren')
('Smith,Tracy', None)
('Stibbons,Ponder', 'Tracy,Burton')
('Tracy,Burton', None)
('Tupperware,Hyacinth', None)
('Worthington-Smyth,Henry', 'Smith,Tracy')

### Q12: 
Find the facilities with their usage by member, but not guests

In [3]:
import sqlite3
conn = None
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = conn.cursor()
query1="""
SELECT DISTINCT name AS facility_name
FROM Facilities AS f
INNER JOIN Bookings AS b
USING(facid)
WHERE b.memid <>0
"""
cur.execute(query1)
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

('Table Tennis',)
('Massage Room 1',)
('Snooker Table',)
('Pool Table',)
('Tennis Court 1',)
('Squash Court',)
('Badminton Court',)
('Tennis Court 2',)
('Massage Room 2',)

### Q13: 
Find the facilities usage by month, but not guests

In [4]:
import sqlite3
conn = None
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = conn.cursor()
query1 = """
SELECT DISTINCT c.facility_name AS member_name, strftime('%m',m.joindate) AS facility_month
FROM Members AS m
INNER JOIN (
SELECT name AS facility_name, b.memid
FROM Facilities AS f
INNER JOIN Bookings AS b
USING(facid)
WHERE b.memid <>0) AS c
USING(memid)
ORDER BY member_name
"""
cur.execute(query1)
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

('Badminton Court', '07')
('Badminton Court', '08')
('Badminton Court', '09')
('Massage Room 1', '07')
('Massage Room 1', '08')
('Massage Room 1', '09')
('Massage Room 2', '07')
('Massage Room 2', '08')
('Massage Room 2', '09')
('Pool Table', '07')
('Pool Table', '08')
('Pool Table', '09')
('Snooker Table', '07')
('Snooker Table', '08')
('Snooker Table', '09')
('Squash Court', '07')
('Squash Court', '08')
('Squash Court', '09')
('Table Tennis', '07')
('Table Tennis', '08')
('Table Tennis', '09')
('Tennis Court 1', '07')
('Tennis Court 1', '08')
('Tennis Court 1', '09')
('Tennis Court 2', '07')
('Tennis Court 2', '08')
('Tennis Court 2', '09')